@import "../../styles/colors.scss";

.container {
  max-width: 1600px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 40px;
  @media (max-width: 720px) {
    margin-bottom: 24px;
  }
}

.header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid $l-gray;
  border-radius: 4px;
  padding-top: 24px;
  padding-bottom: 17px;
}

.navigation-list {
  display: flex;
  align-items: center;
  transition: 0.3s;
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    color: $black;
    font-size: 24px;
    line-height: 32px;
  }
}

.menu-burger {
  display: none;
  cursor: pointer;
}

@media (max-width: 1500px) {
  .navigation-list {
    &__link {
      font-size: 18px;
    }
  }
}
@media (max-width: 1250px) {
  .menu-burger {
    display: block;
    z-index: 200;
  }
  .navigation-list {
    position: fixed;
    width: 50%;
    top: 0;
    bottom: 0;
    right: -50%;
    z-index: 199;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__item {
      margin-right: 0 !important;
      margin-bottom: 15px;
    }

    &__link {
      color: $white;
    }
  }
  .navigation-list.active {
    right: 0;
  }
}

// @media screen and (max-width: 1500px) {

// }
@media screen and (max-width: 720px) {
  .navigation-list {
    width: 100%;
    right: -100%;
  }
}

.active-link {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    background: $black;
    height: 4px;
    width: 100%;
    left: 0;
    bottom: -36px;
  }
  @media (max-width: 1250px) {
    &:after {
      display: none;
    }
  }
}
