@import "./../../styles/colors.scss";

.fullwidth {
  width: 100%;
}
.input {
  border: 1px solid #000;
  border-radius: 8px;
  width: 236px;
  padding: 18px 16px;
  @media (max-width: 700px) {
    padding: 13px 16px;
  }
}
