@import "../../../styles/colors.scss";

.devs-rating {
    position: relative;
    padding-bottom: 80px;
    @media (max-width: 720px) {
        margin-bottom: 56px;
    }
}

.devs-rating-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 14px;
    grid-row-gap: 16px;
    @media (max-width: 1600px) {
        grid-template-columns: 1fr 1fr;
    }
}

.devs-rating-title {
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 48px;
    line-height: 130%;
    color: $black;
}