@import "./../../styles/colors.scss";

.checkbox {
  display: none;
  &-label {
    margin-right: 4px;
    display: inline-block;
    background-position: left center;
    background: #000;
    border: 1px solid black;
    border-radius: 4px;
    background-size: auto 100%;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
  }
  &:checked + .checkbox-label {
    background-image: url("/form-control/checkbox.svg");
  }
  &:not(:checked) + .checkbox-label {
    background: $white;
  }
}
.container {
  display: flex;
  & > *:last-child {
    flex-grow: 1;
  }
  & > *:nth-child(2) {
    flex-shrink: 0;
    
  }
  @media (max-width: 700px) {
    font-size: 16px;
  }
  @media (max-width: 300px) {
    font-size: 12px;
  }
}
