.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 12px;
}
.less-container {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  // padding: 10px;
  @media (max-width: 1235px) {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
  @media (max-width: 900px) {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
  }
}
