@import "./../../../styles/colors.scss";

.form-input {
  border-radius: 8px;
  border: 2px solid #000;
  width: 100%;
  padding: 13px 16px;
  &::placeholder {
    color: $gray;
  }
}
.input {
  display: none;
}
.label {
  cursor: pointer;
  display: block;
  padding: 12px 14px;
  background: yellow;
  border-radius: 10px;
  border: 2px solid #000;
  text-align: center;
  margin: 2px;
  background: $white;
  color: $black;
}
.active {
  background: $black;
  color: $white;
}
.three-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  font-weight: normal;
  @media (max-width: 700px) {
    font-size: 16px;
    // &>*{
    //   padding: 12px;
    // }
  }
  @media (max-width: 350px) {
    font-size: 16px;
    & > label {
      padding: 4px;
      @media (max-width: 300px) {
        font-size: 12px;
      }
    }
  }
}
.two-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  & > *:first-child {
    margin-right: 8px;
  }
  font-weight: normal;
}
.item-container {
  border-bottom: 1px solid $gray;
  padding: 16px 0;
  h1 {
    // background: red;
    font-size: 18px;

    margin-bottom: 16px;
  }
}
.flex {
  line-height: 16px;
  border-radius: 5px;
  width: 700px;
  color: $black;
  display: flex;
  @media (max-width: 940px) {
    display: block;
    width: 100%;
  }
  & > div {
    flex-grow: 1;
    margin: 10px;
  }
}
.checkbox-wrapper {
  margin-top: 16px;
  font-weight: normal;
}
// .check-h1 {
//   margin-bottom: 0px !important;
//   font-size: 18px;
// }

.button-wrapper {
  display: flex;
  & > *:first-child {
    margin-right: 10px;
    @media (max-width: 940px) {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }
  & > *:last-child {
    margin-left: 10px;
    @media (max-width: 940px) {
      margin-left: 0;
    }
  }
  @media (max-width: 940px) {
    display: block;
  }
}
.filter-container {
  padding: 32px;
  border: 1px solid $black;
  border-radius: 16px;
  @media (max-width: 940px) {
    border: none;
    padding: 0;
  }
}
// .reset-button{

// }

.reset-button {
  width: 100%;
  background: $black;
  border: 0;
  padding: 18px;
  font-weight: 600;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;
  color: $white;
  border: 2px solid transparent;
}

.reset-button:hover {
  background-color: $white;
  color: $black;
  border: 2px solid $black;
  & img {
    transition: 0.3s;
    filter: invert(1);
  }
}
.accord-cont {
  display: flex;
  & > *:last-child {
    transform: translate(15px, -6px);
    transition: 0.2s linear;
  }
}
.open {
  transform: rotate(180deg);
}
